<nav class="site-nav">
  <div class="nav-container">
    <a class="brand" href="{{ '/' | relative_url }}">Bio-inspired Robotics Lab</a>
    <input id="nav-toggle" type="checkbox" />
    <label for="nav-toggle" class="menu-icon">&#9776;</label>
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/people' | relative_url }}">People</a></li>
      <li><a href="{{ '/research' | relative_url }}">Research</a></li>
      <li><a href="{{ '/publications' | relative_url }}">Publications</a></li>
      <li><a href="{{ '/equipment' | relative_url }}">Equipment</a></li>
      <li><a href="{{ '/news' | relative_url }}">News &amp; Media</a></li>
    </ul>
  </div>
</nav>
